body {
  display: flex;
  justify-content: center;
}

.playing-field {
  display: grid;
  width: max-content;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  border: 1px solid black;

  background-color: rgb(245, 245, 245);
  gap: 1px;

  position: relative;
}

.playing-field > * {
  background-color: rgb(236, 236, 236);
}

.block {
  width: 30px;
  height: 30px;
  background-color: #0b6480;
  color: #fff;
  border: 1px solid #ffffff;

  position: absolute;
  /* top: 0;
  left: 0; */
}

.I {
  /* background-color: rgb(76, 214, 224); */
  background-color: rgb(18, 220, 247);
}

.J {
  background-color: rgb(18, 60, 247);
}

.L {
  background-color: rgb(247, 167, 18);
}

.O {
  background-color: rgb(240, 225, 12);
}

.S {
  background-color: rgb(38, 230, 13);
}

.T {
  background-color: rgb(247, 18, 152);
}

.Z {
  background-color: rgb(247, 18, 18);
}
